<a href="https://colab.research.google.com/github/Kantesh-Gul/DS_A/blob/main/20sw080_Lab_02_Tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***Task-1***

In [2]:
points = 199

if points >= 50 and points <= 150:
    result = "Congratulations! You won a wooden rabbit!"
elif points >= 151 and points <= 180:
    result = "Congratulations! You won a no prize!"
elif points >= 181 and points <= 200:
    result = "Congratulations! You won a wafer-thin mint!"
else:
    result = "Oh dear, no prize this time."

print(result)

Congratulations! You won a wafer-thin mint!

## ***Task-2***

In [15]:

answer = int(input("Enter the hidden number: "))

guess = int(input("Enter your guess: "))

if guess < answer:
    result = "Oops! Your guess was too low."
elif guess > answer:
    result = "Oops! Your guess was too high."
else:
    result = "Nice! Your guess matched the answer!"

print(result)

Enter the hidden number: 13
Enter your guess: 19
Oops! Your guess was too high.

## ***Task-3***

In [7]:
def calculate_tax(purchase_amount, state):
    # Define the tax rates for each state
    tax_rates = {
        "CA": 0.075,
        "MN": 0.095,
        "NY": 0.089
    }

    if state in tax_rates:

        tax_amount = purchase_amount * tax_rates[state]
        return tax_amount
    else:

        return 0

purchase_amount =  135
state = "CA"
tax_amount = calculate_tax(purchase_amount, state)
total_amount = purchase_amount + tax_amount
print(f"Purchase Amount: ${purchase_amount}")
print(f"Tax Amount: ${tax_amount}")
print(f"Total Amount: ${total_amount}")

Purchase Amount: $135
Tax Amount: $10.125
Total Amount: $145.125

## ***Task-4***

In [8]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

for word in sentence:
    print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

## ***Task-5***

In [9]:
for num in range(5, 31, 5):
    print(num)

5
10
15
20
25
30

## ***Task-6***

In [10]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [name.split()[0].lower() for name in names]

print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

## ***Task-7***

In [11]:
multiples_3 = [num * 3 for num in range(1, 21)]

print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

## ***Task-8***

In [12]:
scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}

passed = [name for name, score in scores.items() if score >= 65]

print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

## ***Task-9***

In [13]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))

print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

## ***Task-10***

In [14]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for i, name in enumerate(cast):
    cast[i] = name + str(heights[i])

print(cast)

['Barney Stinson72', 'Robin Scherbatsky68', 'Ted Mosby72', 'Lily Aldrin66', 'Marshall Eriksen76']