<a href="https://colab.research.google.com/github/Kantesh-Gul/DS_A/blob/main/Lab_01_20sw080.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab-1
RollNO:- 20SW080

Task-1

In [1]:
variable1 = 10
variable2 = "Hello, World!"

print("The value of variable 1 is {} and the value of variable 2 is '{}'.".format(variable1, variable2))

The value of variable 1 is 10 and the value of variable 2 is 'Hello, World!'.

*Task-2*

In [2]:
my_string = "Hello, World!"

# Using string methods
uppercase_string = my_string.upper()
lowercase_string = my_string.lower()
split_string = my_string.split(",")

# Printing the results
print("Uppercase string:", uppercase_string)
print("Lowercase string:", lowercase_string)
print("Split string:", split_string)

Uppercase string: HELLO, WORLD!
Lowercase string: hello, world!
Split string: ['Hello', ' World!']

Task-3

In [6]:
month = 2
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
num_days=days_in_month[month-1]
print(num_days)

28

Task-4

In [7]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003', 'March 29, 2006', 'August 1, 2008', 'July 22, 2009', 'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']


print(eclipse_dates[-3:])

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

Task-5

In [8]:
students = {
    'student1': {
        'name': 'John',
        'age': 20,
        'grade': 'A'
    },
    'student2': {
        'name': 'Emma',
        'age': 19,
        'grade': 'B'
    },
    'student3': {
        'name': 'Michael',
        'age': 21,
        'grade': 'A+'
    }
}

# Accessing student data
print("Student 1:")
print("Name:", students['student1']['name'])
print("Age:", students['student1']['age'])
print("Grade:", students['student1']['grade'])

print("\nStudent 2:")
print("Name:", students['student2']['name'])
print("Age:", students['student2']['age'])
print("Grade:", students['student2']['grade'])

print("\nStudent 3:")
print("Name:", students['student3']['name'])
print("Age:", students['student3']['age'])
print("Grade:", students['student3']['grade'])

Student 1:
Name: John
Age: 20
Grade: A

Student 2:
Name: Emma
Age: 19
Grade: B

Student 3:
Name: Michael
Age: 21
Grade: A+